html, body{
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto
}

header {
  height: 65px;
  width: 100%;
  /* background-color:rgb(149, 8, 230); */
  position:fixed;
}
.header-left {
  float: left;  
  margin-top: 9px;
  margin-left:30px;

}

.header-left img {
  width: 100px;
  height: 50px;
  float: left;

}
.header-right {
  float: right;
  margin-right: -30px;
  margin-top: 20px;
  font-size: 20px;
  color:aliceblue;
}
.header-right a {
  color:white;
  line-height: 20px;
  padding: 0 10px;
  transition: all 0.5s;
  text-decoration: none;
}
.welcome-header {
  padding: 180px 0 100px 0;
  background-image: url('images/bocah.jpg');
   background-size: cover;
  color:white;
  text-align: center;
  height: 380px;
  
}

.welcome-header a {
    padding: 12px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}
